.test{
    width:auto;
    height:100px;
    margin:1px
}


.sidebar {
    position: sticky; 
    top: 0; 
}


.sidebar_menu{
    margin-right: -100%;
    transition: all 0.2s ease-out;
}

.visible{
    margin-right: 0;
    transition: all 0.2s ease-out;

}